<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>
  <title>ร่วมส่งคำอวยพรให้พี่พเยาว์</title>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:url" content="https://getwellsoon.runnables.co.th" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="ร่วมส่งกำลังใจให้พี่พเยาว์ สนทนา" />
    <meta property="og:description"        content="ศิษย์เก่า CP ขอร่วมส่งกำลังใจให้พี่เพยาว์ สนทนา" />
    <meta property="og:image"              content="http://getwellsoon.runnables.co.th/images/og.png" />

    <link href="https://fonts.googleapis.com/css?family=Mitr:400,500&subset=thai" rel="stylesheet"></link>
    <link rel="stylesheet" type="text/css" href="/main.min.css"></link>
    <script src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/scripts/jquery.loadTemplate.min.js"></script>
    <script src="/scripts/three.js"></script>
    <script src="/scripts/threejs/renderers/Projector.js"></script>
    <script src="/scripts/threejs/renderers/CanvasRenderer.js"></script>
    <script src="/scripts/threejs/libs/stats.min.js"></script>

    <script src="/scripts/threejs/shaders/CopyShader.js"></script>
    <script src="/scripts/threejs/shaders/DotScreenShader.js"></script>
    <script src="/scripts/threejs/shaders/RGBShiftShader.js"></script>

    <script src="/scripts/threejs/postprocessing/EffectComposer.js"></script>
    <script src="/scripts/threejs/postprocessing/RenderPass.js"></script>
    <script src="/scripts/threejs/postprocessing/MaskPass.js"></script>
    <script src="/scripts/threejs/postprocessing/ShaderPass.js"></script>

    <script src="/scripts/main.js"></script>
    <script type="text/html" id="template" class="grid-item2">
      <div class="grid-item">
        <div data-class="cardClass">
          <img data-class="imageClass" data-src="imageSrc"/>
          <div class="card-body" data-content="detail"></div>
          <div class="card-footer">
            <div class="info">
              <div class="user-title" data-content="name"></div>
              <div class="user-description" data-content="affiliation"></div>
            </div>
            <img data-src="profileImage"/>
          </div>
        </div>
      </div>
    </script>
  </head>
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '290151501335387',
          xfbml      : true,
          version    : 'v2.6'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="btn btn-primary btn-participate">ร่วมส่งกำลังใจ</div>
    <input type="hidden" id="next" value="<%=next%>">
    <input type="hidden" id="lock" value="">
    <div id="threejs" class="hero">
      <div class="hero-overlay">
        <div class="hero-text">
          <h2><div>ศิษย์เก่า CP</div><div>ขอร่วมส่งกำลังใจให้</div></h2>
          <h1><div>พี่พเยาว์</div><div>:))</div></h1>
          <div class="fb-like" data-href="https://getwellsoon.runnables.co.th/" data-width="10" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true">
          </div>
        </div>
      </div>
    </div>
    <section id="cards">
      <div class="cards-header">จากใจศิษย์เก่า</div>
      <div class="container" data-masonry='{ "itemSelector": ".grid-item" }'>
        <div class="grid">
          <% messages.forEach(function(message) { %>
            <div class="grid-item">
              <div class="card type<%= 1 + Math.floor(Math.random() * 3)%>">
                <img style="display: <%= message.imagePath ? 'block' : 'none' %>" src="<%= message.imagePath %>"/>
                <div class="card-body"><%= message.detail %></div>
                <div class="card-footer">
                  <div class="info">
                    <div class="user-title"><%= ((message.user || {}).name || '').split(' ')[0] %></div>
                    <div class="user-description"><%= message.affiliation %></div>
                  </div>
                  <img src="<%= (message.user || {}).profileImage %>"/>
                </div>
              </div>
            </div>
          <% });%>
        </div>
      </div>
    </section>
    <section class="lightbox-container lightbox-participate" style="display:none;">
      <div class="wrapper">
      <div class="lightbox">
        <div class="btn-close">X</div>
        <div class="lightbox-header">ร่วมส่งกำลังใจ</div>
          <div class="form-control">
            <label>ชื่อ*</label>
            <input type="text" class="input-name">
          </div>
          <div class="form-control">
            <label>รุ่น CP / หน่วยงาน</label>
            <input type="text" class="input-affiliation" placeholder="เช่น CP35">
          </div>
          <div class="form-control">
            <label>ถ้อยคำอวยพร*</label>
            <textarea class="input-message"></textarea>
          </div>
          <div class="form-control">
            <div class="btn btn-secondary btn-image">
              <span>เลือกภาพ (ถ้ามี)</span>
            </div>
            <input class="input-file" type="file" style="display: none">
          </div>
          <div class="btn btn-primary btn-post">
            <span>ส่งกำลังใจ</span>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>